/* Global styles */
* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	margin: 0;
}

header {
	background-color: #241da8;
	color: #fff;
	padding: 20px;
}

p {
	font-family: 'Consolas', 'Courier New', monospace;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #2666c5;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-top: 40px;
}

h2 {
	margin-top: 0;
	font-family: 'Consolas', 'Courier New', monospace;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

/* Media queries */
@media screen and (max-width: 600px) {
	header {
		padding: 10px;
	}
	nav li {
		display: block;
		margin: 10px 0;
	}
}
.hidden-link {
	color: inherit;
	text-decoration: none;
	border: none;
	background: none;
	cursor: text;
  }
  .hidden-link:hover {
	text-decoration: none;
  }
	